aiohttp                  1.0.5
async-timeout            4.0.2
chardet                  4.0.0
discord.py               0.16.12
discord-py-slash-command 3.0.3
emoji                    1.7.0
multidict                6.0.2
pip                      22.0.4
python-dotenv            0.19.2
websockets               3.4
wheel                    0.37.1